html {
    font-size: 14px;
    font-family: Cereal,sans-serif;
}

/*********** NAVBAR ***********/

.navbar-brand {
    & img {
        width: 30px;
        height: 32px;
    }
    & span {
        font-weight: 500;
        font-size: 1.5rem;
    }
}
#search-icon {
    height: 1.2rem;
    width: 1.3rem;
}
#dropdown-languages {
    & a {
        text-decoration: underline black;
    }
}
/****** To Be continued *****/