html {
    font-size: 16px;
}

/*********** NAVBAR ***********/

.navbar-brand {
    & img {
        width: 30px;
        height: 32px;
    }
    & span {
        font-weight: 500;
        font-size: 1.5rem;
    }
}

/****** To Be continued *****/