html {
    font-size: 14px;
    font-family: Cereal,sans-serif;
}

/*********** NAVBAR ***********/

.navbar-brand {
    & img {
        width: 30px;
        height: 32px;
    }
    & span {
        font-weight: 500;
        font-size: 1.5rem;
    }
}
#search-icon {
    height: 1.2rem;
    width: 1.3rem;
}
#dropdown-languages {
    & a {
        text-decoration: underline black;
    }
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.nav-item {
    & a {
        font-weight: 500;
    }
}

/****** Hero Content *****/

.date-style {
    color: #767676;
    font-weight: 300;
}
.btn-custom {
    background-color: #DA0963;
    color: white;
    padding: 10px 24px;
    border-radius: 10px;
}

/****** Article-Content *****/

.img-config {
    border-radius: 10px;
}
.header-article {
    width: 70%;
}
article a {
    color: black;
    &:hover {
        color: black;
        text-decoration: underline black;
    }
}

/****** Colored-Article-Content *****/

.colored-section {
    background-color: #F7F7F7;
    &  img {
        border-top-right-radius: 3%;
        border-top-left-radius: 3%;
    }
    & .aspectRatio {
        aspect-ratio: 1;
        object-fit: cover;
    }
    & .scrollableRow {
        overflow-x: scroll;
    }
    & .container-style {
        border-radius: 3%;
        border: #DDDDDD 1px solid;
    }
}

/****** Social Media Section *****/

.logo-social-media{
    height: 5vh;
    border: solid 1px black;
    border-radius: 35%;
}

/****** Media Queries *****/

@media (min-width: 992px) {
    #navbar-form {
        display: none;
    }
    .dropdown {
        & span {
            display: none;
        }
    }
    #hero-main-title-style {
        font-weight: 500;
        font-size: 3rem;
        line-height: normal;
        color: black;
    }
    .main-titles-style {
        font-weight: 500;
        font-size: 3rem;
        color: black;
    }
    .secondary-font-style {
        font-size: 1.4rem;
    }
}
@media (max-width: 992px) {
    #navbar-search{
        display: none;
    }
    #earth-icon {
        height: 1.2rem;
        width: 1.3rem;
    }
    #search-button {
        position: absolute;
    }
    #search-icon-button {
        height: 1.2rem;
        width: 1.3rem;
    }
    #hero-main-title-style {
        font-weight: 500;
        font-size: 1.3rem;
        line-height: normal;
        color: black;
    }
    .main-titles-style {
        font-weight: 500;
        font-size: 1.3rem;
        color: black;
    }
    .header-article a h3 {
        font-weight: 500;
        font-size: 1rem;
        color: black;
    }
    .header-article {
        height: 30%;
    }
    .secondary-font-style {
        font-size: 1rem;
    }
}
@media (max-width:576px) {
    .article-img-container {
        width: 80%;
    }
}